.navbar {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.navbar a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

.navbar a:hover {
    color: #fff;
    text-decoration: none;
}

#LoginBtn{
  margin-right:1em;
  margin-left:0.5em;
}

/* Resize images */
.container img {
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.5); /* FF3.5+ */
     -ms-transform: scale(0.5); /* IE9 */
      -o-transform: scale(0.5); /* Opera 10.5+ */
         transform: scale(0.5);
            /* IE6–IE9 */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}

.container img {
    width: 60%;
    height: 60%
}

